<%- include("../partials/header.ejs") %>


    <div class="add-article-section">
        <button class="add-article-btn" onclick="openAddArticleModal()">
            <span class="btn-icon">✏️</span>
            <span class="btn-text">Add New Article</span>
        </button>
    </div>

    <div class="posts-grid">
        

        <% articles.forEach(article => { %>
            <a href="/articles/<%=article.id %>">
            <article class="post-card" >
                <span class="post-category"><%= article.category_name %></span>
                <h3 class="post-title"><%= article.title %></h3>
                <p class="post-excerpt mt-5">
                    <%= article.shortExcerpt %>
                </p>
                <div class="post-meta">
                    <span><%= article.formattedDate %></span>
                    <div class="read-time">
                        <span>📖</span>
                        <span><%= article.read_time %></span>
                    </div>
                </div>
            </article>
        </a>
        
       <% }); %>



<script>
    function openAddArticleModal() {
        window.location.href = "/articles/create";
    }
</script>

<%- include("../partials/footer.ejs") %>